.containerCarrito {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.numero {
    padding: 0.3em 0.6em;
    border: solid 2px;
    border-radius: 50%;
    background-color: rgb(242, 168, 119) ;
}