.containerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerItems a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #f4b96d;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    margin: 0 0 0 3em;
    padding: 0;
}

li {
    margin: 0 0.5em;
    padding: 0.5em;
    border: solid 1px;
    border-radius: 20px;
    background-color: #f9f3cf;
    font-weight: bolder;
    font-size: larger;
}

.logo {
    width: 8em;
    /* margin-right: 3em; */
}